img {
  border-radius: 50%;
}
.header{
  background-color: pink;
  padding: 30px;
  box-shadow: 10px 10px;

}
h1{
  color: white;
}
.footer{
  background-color: pink;
  box-shadow: 10px 10px;
  padding: 5px;
  text-align: center;
  color: white;
  
}
.caption{
  font-size: 10px;
}
header, main, footer{
  margin: 1.25rem auto;
  max-width: 300px;
}
