img {
  border-radius: 50%;
}
.header{
  background-color: pink;
  padding: 50px;
}
h1{
  color: white;
}
.footer{
  background-color: pink;
  padding: 30px;
  text-align: center;
}
.caption{
  font-size: 10px;
}