/*
Colors:
black
#6A7B76 grey
#8B9D83 green
#BEB0A7 pink beige
#E2856E salmon

*/
body{
    margin: 0 auto;
    background-color: #fdf7f3;
}

.header-grid{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
#banner{
    color:white;
    text-align: center;
    background-color: #E2856E;
    margin: 20px auto;
    padding: 5px;
    
}
.logo{
    max-width: 100px ;
    margin-left: 20px;
}
#tittle{
    text-align: center;
    margin-top: 30px;

}
#social{
    align-self: center;
    justify-self: right;
    margin-right: 150px;
    margin:20px auto
}
* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-family: times, serif;
	font-size: 1.5rem;
    color: #E2856E;

}
h2, h3{
    color: #c4705b;
}
nav {
	margin: 10px auto;
}

/* small view navigation */
#hamButton {
	display: block;
	top: 10px;
	right: 10px;
	width: fit-content;
	font-size: 1.5rem;
	padding: .5rem;
	color: white;
    margin: 0 auto;
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #8B9D83;
}
.navigation li {
	display: none;
}
.navigation li a {
	padding: 1.15rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #8B9D83;
	font-weight: 700;
}

/* when the button is clicked - the responsive class is added and accounted for here */
.navigation.responsive li {
	display: block;
	width: 100%;
}
.navigation.responsive li a {
	display: block;
}

/* large view navigation */
@media only screen and (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem
	}
	
	#hamButton {
		display: none; /* hide hamburger button */
	} 
	
	.navigation {
		flex-direction: row;
	}
	
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}
}



button {
    padding: 12px 24px;
    background-color: #8B9D83;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
}
.hero-div button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#time{
    text-align: center;
}
#hero-div {
    background: #BEB0A7;
    grid-row: 1/2;
    grid-column: 1/4;
    padding-left: 10px;
    padding-top: 10px;

}
#content2 {
    background: #BEB0A7;
    grid-row: 2/3;
    grid-column: 1/4;
    padding:15px;
    text-align: center;
}
#content3 {
    background: #BEB0A7;
    grid-row: 3/4;
    grid-column: 1/4;
    padding:15px;
    text-align: center;

}
#content4 {
    background: #BEB0A7;
    grid-row: 4/5;
    grid-column: 1/4;
    padding:15px;
    text-align: center;

}
#content6{
    display:none
}
#content5 {
    background: #BEB0A7;
    grid-row: 5/6;
    grid-column: 1/4;
    padding:15px;
}

 

.main-grid{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 2fr 1fr;
    margin: 20px;
    row-gap: 10px;

}
.hero-div img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    max-width: 20px;
}

#spotlight1{
    padding:15px;
    border: solid 1px #BEB0A7;
    text-align: center;
}
#spotlight2{
    padding:15px;
    border: solid 1px #BEB0A7;
    text-align: center;
}
#spotlight3{
    display: none;
    text-align: center;
}
#textspot{
    margin-top: 10px;
    margin-left: 10px;
}
.foot{
    background-color:#8B9D83 ;
    color: black;
    padding: 5px;
    text-align: center;
    line-height: 17px;   
    font-size: 10px;
}

/* discover page */

.discover {
    display: flex;
    flex-direction: column;
}

img[data-src] {
    min-width: 50px;
    min-height: 50px;
    filter: blur(0.2em);
}

.dis-image {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    filter: blur(0em);
    transition: filter 1s;
    border-radius: 1rem;
    transition: all .8s;
    box-shadow: 0px 0px 10px 1px #e69f8d;
}

.discover section {
    background-color: var(--accent2-color);
    margin: 1rem ;
    padding: 1rem ;
    box-shadow: 1px 1px 10px #e69f8d;
    border-radius: 10px;
}

.discover h2 {
    margin-top: 0;
    text-align: center;
}

.discover h3 {
    text-align: center;
}
.demographic{
    margin: 0 auto;
}
