@media only screen and (min-width: 55.5em) {

    .card-slider {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-gap: 10px;
}
    .product1{
        grid-column: 1/2;
    }
    .product2{
        grid-column: 2/3;
    }
    .product3{
        grid-column: 3/4;
    }

    /* discovery page */
    .dis-image {
        width: 30%;
        height: auto;
        margin: 1rem;
    }
    
    .left {
        float: left;
        margin-right: 1.5rem;
    }
    
    .right {
        float: right;
        margin-left: 1.5rem;
    }
    
    .discover h2 {
        padding-top: 2rem;
    }
    
    .discover p {
        padding: 0 1rem;
    }


}