@media only screen and (min-width: 32.5em) {

    .dis-image:hover {
        scale: 1.01;
        box-shadow: 0px 0px 75px 1px #5dad81;
    }
    .dis-image {
        width: 100%;
        height: auto;
        margin: 1rem auto;
        align-self: center;
    }
    .hero-image {
        width: 100%;
        height: auto;
        margin: 1rem auto;
        align-self: center;
    }
    .text-block {
        position: absolute;
        bottom: 40px;
        right: 50px;
        left: 50px;
        background-color: #e9be59;
        color: white;
        padding:15px;
        text-align: center;
        border-radius:30px ;

      }
    
      
      .button1{
        color: black;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        padding: 15px;
        border: none;
      }
      .but-text{
        text-decoration: none;
    
      }
      #contenedor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 40px;
        padding: 50px;
        padding-top: 1px;
        color: #000000;
        justify-content: center;
        font-family: "Trirong";
        
      }
      #contenedor > div {
        width: 30%;
        margin: 30px;
        align-content: center;
      }

      .weather-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .weather-card1{
        grid-column: 1/2;
      }
      .weather-card2{
        grid-column: 2/3;
      }
}

