
*::content{
    margin: 0px;
}
/* footer */

footer {
    background-color: #67B5A7;
    color: black;
    font-family: "Trirong";

    font-size: 1em;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 16px;
    font-family: "Trirong";
}    
footer p a:hover {
    text-decoration: underline;
    font-family: "Trirong";

    font-size: 16px;
}    
footer a{
    color: black;
    text-decoration: none; 
    font-size: 16px;
}
footer a:hover {
    color: white;
}
.home-tittle{
  text-align: center;
}





@media screen and (max-width: 900px) { 

    footer {
        flex-direction: column;
        margin-top: 25px;}

}
.card-slider {
  max-width: 960px;
  margin: 0 auto;
}
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 250px;

    border-radius: 30px;
    border: 1px solid rgba(0,0,0,.2);
    background-color: white;

    text-decoration: none;
    color: rgba(0,0,0,.9);
    margin: 0.5rem ;

  }

    /** Main link */
    .card .main-link {
      text-decoration: none;
      display: flex;
      flex-direction: column;
    }

      .card .main-link:focus {
        outline: none;
      }


    /** Product title */
    .card .title {
      color: #922c2c;
      margin: 0;
      padding: 10px 10px 5px 10px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }

      .card .title:hover {
        text-decoration: underline;
      }

    /** Product image */
    .card .image {
      order: -1;

      position: relative;
      height: 100px;
      padding: 2px;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;
    }

      .card .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(.5);
        border-radius: 30px;
        transition: all .3s ease-in-out;
      }

        .card .image:hover img {
          width: 110%;
          height: 110%;
        }

    .card .description {
      margin: 7px 10px 15px 10px;
      font-size: 11px;
      opacity: .8;
      text-align: center;
    }

    .card .price {
      padding-left: 10px;
      text-align: center;

    }

      .card .new-price {
        font-weight: bold;
      }

    .card:hover {
      border-color: rgba(0,0,0,.4);
      box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    }

      .card:hover .image img,
      .card:focus .image img {
        filter: grayscale(0);
      }

      .card a:focus {
        outline: none;
      }
    

nav {
        margin: 10px auto;
    }
    
    /* small view navigation */
    #hamButton {
        display: block;
        top: 15px;
        right: 15px;
        width: fit-content;
        font-size: 1.5rem;
        padding: .70rem;
        color: #67B5A7;
        margin: 0 auto;
        position:absolute
    }
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: #67B5A7;
    }
    .navigation li {
        display: none;
    }
    .navigation li a {
        padding: 1.15rem;
        display: block;
        text-align: center;
        text-decoration: none;
        color: black;
    }
    .navigation li a:hover {
        background-color: rgb(70, 113, 100);
        color: #ffffff;
        font-weight: 700;
    }
    
    /* when the button is clicked - the responsive class is added and accounted for here */
    .navigation.responsive li {
        display: block;
        width: 100%;
    }
    .navigation.responsive li a {
        display: block;
    }
    
    /* large view navigation */
    @media only screen and (min-width: 55.5em) {
        h1 {
            font-size: 2.5rem
        }
        
        #hamButton {
            display: none; /* hide hamburger button */
        } 
        
        .navigation {
            flex-direction: row;
        }
        
        .navigation li {
            display: block;
            flex: 1 1 auto;
        }
    }
    #hero-msg{
        position: absolute;
    }

    #hero-img{
    filter: grayscale(.3);
    width: 100%;
    
    }

/* Container holding the image and the text */
.container {
    position: relative;
  }
  
  /* Bottom right text */
  
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    background-color: #e9be59;
    color: white;
    padding:15px;
    text-align: center;
    border-radius:30px ;
  }

  .button1{
    color: rgb(154, 105, 8);
    background-color: bisque;
    border-radius: 20px;
    padding: 15px;
    border: none;
  }

  .but-text{
    text-decoration: none;
  }

  .discover {
    display: flex;
    flex-direction: column;
}

img[data-src] {
    min-width: 50px;
    min-height: 50px;
    filter: blur(0.2em);
}

.dis-image {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    filter: blur(0em);
    transition: filter 1s;
    border-radius: 30px;
    transition: all .8s;
    box-shadow: 0px 0px 10px 1px rgb(70, 113, 100);;
}
.hero-image{
  width: 100%;
    height: auto;
    margin: 1rem 0;
    filter: blur(0em);
    transition: filter 1s;
    border-radius: 30px;
    transition: all .8s;
    box-shadow: 0px 0px 10px 1px rgb(70, 113, 100);
}

.discover section {
    margin: 1rem ;
    padding: 1rem ;
    box-shadow: 1px 1px 10px rgb(70, 113, 100);
    background-color: white;
    border-radius: 30px;
}

.discover h2 {
    margin-top: 0;
    text-align: center;
}

.discover h3 {
    text-align: center;
}
.demographic{
    margin: 0 auto;
}

 
  .text-block h2 {
    font-size: 20px;
    margin: 15px auto
  }

  .text-block button {
    font-size: 13px;
    padding: 2px 8px;
  }

  .submit{
    margin-top: 10px;
    
  }

  .order-section{
    text-align: center;
  }

  .weather-section{
    text-align: center;
  }

  /* fresh page */

  /* Styling for required input fields */
input:required {
  border-left: 6px solid rgb(217, 14, 14);
}

/* Styling for submit button on hover */
.submit:hover {
  background-color: #f7ae41;
  transform: scale(1.1);
  border: none;
  color: white;
}

/* Common styling for form inputs and checkboxes */
form input,
input[type="checkbox"] {
  display: block; /* Changed from "float" to "block" for proper layout */
  padding: 10px;
  margin: 15px;
}

/* Styling for textarea */
textarea {
  width: 100%;
  background-color: #ffffffbf;
}

/* Styling for user info section */
.userInfo {
  display: flex;
  flex-direction: column;
  background-size: auto;
}

.userInfo input {
  height: 2rem;
}

/* Styling for fruits section */
.fruits div {
  display: flex;
  align-items: center;
}

/* Styling for submit button */
.submit {
  padding: 0.5rem;
  border-radius: 10px;
  width: 80%;
  margin: 0.5rem auto;
  display: block;
}

/* Styling for fruits info section */
.fruitsInfo {
  text-align: left;
  margin-left: 20px;
}

.fruitsInfo ol,
.fruitsInfo h3 {
  padding: 0;
  margin: 0;
}

.fruitsInfo ol li {
  list-style-position: inside;
}
