@media only screen and (min-width: 32.5em) {
    .logo{
        max-width: 150px ;
        margin-left: 100px;
    }

    .main-grid{
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 2fr 1fr;
        margin: 20px;
        row-gap: 10px;
        column-gap: 10px;
    }
    .hero-div{
        grid-row: 1/2;
        grid-column: 1/5;
    }
    #content4{
        grid-row: 2/3;
        grid-column: 1/5;
    }
    #content5{
        grid-row: 3/4;
        grid-column: 1/5;
            display: grid;
            grid: 1fr 1fr;
        }
    #spotlight1{
        grid-column: 1/2;
    }
    #spotlight2{
        grid-column: 2/3;
    }
    #content6{
        display:grid;
        grid-row: 4/5;
        grid-column: 1/5;
        text-align: center;
    }
    #content2{
        grid-row: 5/6;
        grid-column: 1/2;
    }
    #content3{
        grid-row: 5/6;
        grid-column: 2/5;
    }

    #content6 {
        background: #fce8e3;
        padding:15px;
        display: block;
    
    }
    .foot{
        display: grid;
        padding-top: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.5fr ;
        row-gap: 10px;
    }
    #foot1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    #foot2{
        grid-row: 1/2;
        grid-column: 2/3;

    }
    #foot3{
        grid-row: 2/3;
        grid-column: 1/3;
    }


    /*discovery */
    .dis-image:hover {
        scale: 1.01;
        box-shadow: 0px 0px 75px 1px #E2856E;
    }
    .dis-image {
        width: 100%;
        height: auto;
        margin: 1rem auto;
        align-self: center;
    }

    /* join */

    form input.form-button {
        width: 83%;
    }
    
    .form-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    /* discovery */






}
