
header, footer {
    background-color: rgb(235, 169, 162);
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0;
    border: 1px solid white;
    text-align: center;
} 

table {
    width: 60%;
    border-collapse: collapse;
    margin: 10% auto;
}
.bpd {
    padding: 2rem;
    background-color: rgb(129, 127, 127);
    color: white;
    border: none;
}

.caption {
    border: 1px solid black;
    border-bottom: none;
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: larger;
}

.blank {
    background-color: rgb(0, 0, 0);
}

td, th {
    border: 0.5px solid black;
}



tr {
    padding: 0.5rem;
}

.notincluded {
    text-align: center;
}

.check {
    text-align: center;
    color: rgb(137, 45, 186);
    padding: 1rem;
    font-size: 120%;
}

.feature {
    text-align: center;
    padding: 5px;
    font-weight: bold;
}


tbody tr:nth-child(even) {
    background-color: rgb(208, 208, 208);
}

.footer {
    border: 1px solid white;
    text-align: right;
    margin-top: 12px auto
}

