/*
Colors:
black
#6A7B76 grey
#8B9D83 green
#BEB0A7 pink beige
#E2856E salmon

*/

.header-grid{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
#tittle{
    text-align: center;
    margin-top: 30px;
}
* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-family: times, serif;
	font-size: 1.5rem;
}

nav {
	max-width: 700px;
	margin: 10px auto;
}

/* small view navigation */
#hamButton {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	width: fit-content;
	font-size: 1.5rem;
	padding: .5rem;
	color: #8B9D83;
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #8B9D83;
}
.navigation li {
	display: none;
}
.navigation li a {
	padding: 1.15rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #6A7B76;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the responsive class is added and accounted for here */
.navigation.responsive li {
	display: block;
	width: 100%;
}
.navigation.responsive li a {
	display: block;
}

/* large view navigation */
@media only screen and (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem
	}
	
	#hamButton {
		display: none; /* hide hamburger button */
	} 
	
	.navigation {
		flex-direction: row;
	}
	
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}
}


#time{
    text-align: center;
}
#content1 {
    background: lightgrey;

    grid-area: content4;
    grid-row: 1/2;
    grid-column: 1/4;
    padding-left: 10px;
    padding-top: 10px;


}
#content2 {
    background: lightgrey;
    grid-area: content4;
    grid-row: 2/3;
    grid-column: 1/4;
    padding-left: 10px;
    padding-top: 10px;

}
#content3 {
    background: lightgrey;
    grid-area: content4;
    grid-row: 3/4;
    grid-column: 1/4;
    padding-left: 10px;
    padding-top: 10px;

}
#content4 {
    background: lightgrey;
    grid-area: content4;
    grid-row: 4/5;
    grid-column: 1/4;
    padding-left: 10px;
    padding-top: 10px;

}
#content5 {
    background: lightgrey;
    grid-area: content4;
    grid-row: 5/6;
    grid-column: 1/4;
    padding: 10px;
}

.main-grid{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 2fr 1fr;
    margin: 20px;
    row-gap: 10px;

}

#spotlight1{
    padding-bottom: 100px;
    border: solid 1px rgb(152, 152, 152);
}
#spotlight2{
    padding-bottom: 100px;
    border: solid 1px rgb(152, 152, 152);
}
#textspot{
    margin-top: 10px;
    margin-left: 10px;
}
.foot{
    background-color:#8B9D83 ;
    color: black;
    padding: 7px;
    text-align: center;
    line-height: 20px;   
    font-size: 13px;
}





